svg {
    overflow: visible;
}



.tx_mn {
    font-size: small;
    font-weight: 500;
}

.nd_sm {
    padding: 35px 0;
    text-align: center;
    background: #333232;
    padding-bottom: 140px;
    box-shadow: inset 0 0 20px 6px #ffffff47;
    border-radius: 10px;
    margin-top: 10px;
}

#cov_1 {
    margin-top: 30px;
}

.grid {
    /* stroke: lightgrey; */
    /* stroke-opacity: 0.7; */
    shape-rendering: auto;
}