.grdCon_2{
    width: 500px;
}
.grovtd_67{
    background: #6f6c6c;
    padding: 20px;
    border-radius: 6px;
    box-shadow: inset 0 0 8px #ffffffc7;
    color: azure;
}

.grovtd_67 small{
    color: #ffe5b5;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.grovtd_67 div{
    font-size: larger;
}